body{
    padding-top: 80px;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
    row-gap: 22px;
    column-gap: 22px;
    padding-left: 10px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header.top-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #333;
    color: white;
    padding: 0 5px;
    z-index: 1000;
}

.left-top {
    display: flex;
    align-items: center;
}

.name{
    display: flex;
    flex-direction: column;
}

.name-1{
 color : white;
 position: relative;
 left:10px; 
 top : 0px;
}

.name-2{
 color : white;
 position: relative;
 left:20px;
 top : 0px;
}

.name-3{
    color : white;
    position: relative;
    left: 10px;
    top:0px
}

.right-top {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-left: 800px;
}

.order {
    display: flex;
    align-items: center;
    background-color: #444; 
    border-radius: 5px;
    padding: 8px 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cart {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.order-button {
    background-color:white; 
    color:  #0E2C53;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

.order-button:hover {
    background-color: #0056a0;
    color: white; 
    transform: scale(1.05); 
}

.order-button:active {
    background-color: #004080; 
    color: white;
}

.supplier {
    display: flex;
    flex-direction: column;
    border-radius: 10px; 
    border: 1px solid #ddd; 
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    transition: transform 0.3s, box-shadow 0.3s; 
    overflow: hidden; 
}

.supplier:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
}

.name-tag {
    font-size: 18px; 
    font-weight: bold;
    color: #333;
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.phone-number {
    font-size: 14px;
    color: #666;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.rating {
    width: 140px; 
    margin: 0 auto; 
    display: block;
}


.button {
    font-size: 14px; 
    height: 26px;
    border-radius: 20px; 
    background-color: #7c4dff; 
    color: #fff;
    border: none;
    transition: background-color 0.3s, color 0.3s, transform 0.2s; 
    width: calc(100% - 40px); 
    margin:20px;
    cursor: pointer;
}

.button:hover {
    background-color: #5e35b1; 
    transform: translateY(-2px); 
}

.button:active {
    background-color: #fff;
    color: #7c4dff;
    border: 1px solid #7c4dff;
    transform: translateY(1px); 
}
